<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_LOCALE" value="ja"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PII_LOOKUP_KEY" value="base64:dGVzdC1waWktbG9va3VwLWtleS0zMi1ieXRlcy0hIQ=="/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="RESERVATION_INTEGRATION_PROVIDER" value="null"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="STRIPE_CAPTURE_METHOD" value="manual"/>
        <env name="STRIPE_HTTP_CONNECT_TIMEOUT" value="10"/>
        <env name="STRIPE_HTTP_TIMEOUT" value="30"/>
        <env name="STRIPE_MAX_NETWORK_RETRIES" value="2"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
